#home {
  position: relative;
  background: linear-gradient(145deg, #ffffff, #b1cae5);
  // background-color: rgb(223, 231, 248);
  background-size: cover;
  background-repeat: repeat;
  background-position: left;

  .app__wapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  padding: 6rem 2rem 0;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;

    height: auto;
    padding: 4rem 1rem;
  }

  @media screen and (max-width: 450px) {
    padding-top: 6rem 1rem 2 rem;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  @media screen and (max-width: 2000px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    border: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    img {
      width: 115px;
      height: 115px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #ffffffb7;
    }
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: left;
      font-weight: 500;
      font-size: medium;
    }

    @media screen and (max-width: 900px) {
      padding: 0.8rem 1.5rem; /* Reduce box padding */
      margin-top: 2rem; /* Adjust spacing above the box */
      justify-content: center;

      p {
        font-size: 0.9rem; /* Make text slightly smaller */
      }
    }

    @media screen and (max-width: 450px) {
      padding: 0.6rem 1rem; /* Further reduce padding for very small screens */
      margin-top: 1.5rem;

      p {
        font-size: 0.8rem; /* Smaller text for very small screens */
      }
    }
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media screen and (max-width: 450px) {
    justify-content: center;
    align-items: center;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;
  z-index: 1;

  div {
    position: relative;
    z-index: 2;
    width: 100px;
    height: calc(100px * 0.866);
    border-radius: 50%;
    // clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);

    background: linear-gradient(-210deg, #fff, #e9e9e9);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4), 0 2px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-out;
    will-change: transform;

    img {
      width: 60%;
      height: 60%;
    }
  }

  div:hover {
    transform: translateY(-10px);
  }

  div:nth-child(1) {
    width: 100px;
    height: 100px;
    padding-right: 10px;
    padding-left: 10px;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
  }

  div:nth-child(3) {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(1) {
      width: 40px;
      height: 400px;
    }

    div:nth-child(2) {
      width: 170px;
      height: 170px;
    }

    div:nth-child(3) {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    div {
      margin: 1rem;
    }
  }

  @media screen and (max-width: 450px) {
    height: 80%;
    width: 100%;
    flex-direction: row;
    // flex-wrap: wrap;
    margin: 2rem 1rem 0rem 1rem;
  }
}

.app__header-img {
  flex: 1;
  height: 100%;
  margin-left: 15rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: right;

  // justify-content: flex-end;
  // position: relative;

  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }

  h1 {
    font-size: 10rem;
    align-items: right;
    text-align: right;
    justify-content: right;

    color: var(--secondary-color);

    @media screen and (max-width: 1200px) {
      font-size: 6rem; /* Reduce size for tablets */
      text-align: center; /* Align text to center on smaller screens */
    }

    @media screen and (max-width: 768px) {
      font-size: 5rem; /* Further reduce for mobile */
      text-align: center;
    }

    @media screen and (max-width: 450px) {
      font-size: 4rem;
      text-align: center;
    }
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 90%;
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}
